body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

.nav-left {
    list-style-type: none;
    padding: 0;
}

.nav-left li {
    display: inline;
    margin-right: 20px;
}

.nav-right {
    display: flex;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1, h2, p {
    font-weight: bold;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-item {
    flex: 1 1 30%; /* Adjusts to 30% width */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.social-media-buttons {
    text-align: center;
    margin-top: 20px;
}

.social-button {
    display: inline-block;
    background-color: #555;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
}

.social-button:hover {
    background-color: #0056b3;
}
