:root {
    --primary-color: #5B4B49; /* Dark brown from the logo */
    --secondary-color: #D3A588; /* Light brown from the logo */
    --accent-color: #7A9E7E; /* Green accent from the logo */
    --text-color: #FAFAFA; /* For light text color */
    --background-color: #2c3e50; /* Dark background color */
    --border-color: #ccc; /* Border color */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
    background-color: var(--background-color);
    line-height: 1.6;
    color: var(--text-color);
}

.page-container {
    max-width: 768px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 424px;
}

.logo-container img {
    float: left;
    margin-right: 20px;
    width: 400px;
    height: auto;
}

.tea-flex-container {
    background-color: var(--primary-color);
    padding: 10px 0;
    justify-content: center;
    display: flex;
}

.tea-flex-container a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.tea-flex-container a:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

main .shop-description {
    font-family: 'Enchanted Land', cursive;
    color: var(--accent-color);
    margin: 20px 0;
    font-size: 1.0em;
}

.title {
    font-family: 'Enchanted Land', fantasy;
    color: var(--primary-color);
    text-align: center;
    margin-top: 8px;
}

.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.menu-list li {
    margin: 10px 0;
    font-size: 1.2em;
    color: var(--primary-color);
}